@model lawrukmvc.ViewModels.ThumbnailListAndTitleUrlList
@{
    ViewBag.Title = Model.Title;
}
@if (!lawrukmvc.Helpers.Account.LoggedIn)
{
     <a class="btn btn-inverse" href="https://lawruk.rpxnow.com/openid/v2/signin?token_url=http%3a%2f%2fwww.lawruk.com%2faccount%2fProcessLogOn" onclick="return false;">Log In</a>
}
@Html.Partial("ThumbnailList", Model.ThumbnailListViewModel);
@section right {
@Html.Partial("TitleUrlList", Model.TitleUrlListViewModel);
@Html.Partial("GoogleAd160x600");
}
