.center {text-align:center;}
p {
    font-size: 16px;
    line-height: 1.7em;
}

li {
line-height: 1.7em;
font-size: 16px;
}

p img {padding:0px 5px 0px 0px;}

textarea {width:500px; height:700px;}

/*Nav*/
.navbar-inner .container {width:940px;}
.navbar .brand {font-size:26px; margin-left:0px;}
.navbar a.brand { padding:5px;padding-left:0px;}
a.brand.home {margin-left:10px;}
.navbar-inner .container {width:940px;}
.navbar-inner .container ul {padding-top:2px;}

#header { width:970px; margin:0 auto; overflow:hidden; padding:0 0 5px 0;}

#top-menu-wrap {width:100%; height:40px; background-color:#363555; float:left; background-image:-moz-linear-gradient(center top , #565585, #262545); margin-bottom:10px;}
#top-menu {width:970px; height:40px; margin:0 auto 0 auto; overflow:hidden; color:#ffffff;}
#top-menu a{ color:#fff; text-decoration:none;}

ul#top-menu-list { display:block; font-size:22px; font-family:Arial, Helvetica, sans-serif; height:40px;}
ul#top-menu-list li{ display:inline; margin-right:25px; line-height:40px;}
li.menu-last { margin:0 !important;list-style-image:none;}
ul#top-menu-list li a:hover{ display:inline; color:#cccccc;}
ul#top-menu-list li a.selected { color:#cccccc !important;}

#login-bar {float:right; color:#555555;}


#content-wrap  { width:100%; height:auto; float:left; padding-top:10px; padding-bottom:10px; }
#content {width:970px; margin:0 auto 0 auto; text-align:left;height:auto;}

#left-wrap {width:740px; display:block; float:left;}
#left {width:725px; float:left; padding-right:15px;}
#right-wrap {width:220px;  display:block; float:left;}
#right {width:215px; padding-left:5px; padding-right:5px;}

#footer-wrap  { width:100%; float:left; height:auto; background-color:#CCCCCC;border-top-width: 2px; border-top-style: solid; border-color:#111111;}
#footer {width:970px; height:auto; margin:0 auto; text-align:left; padding-top:10px; padding-bottom:10px;}

.footer-list {float:left; padding-right:30px;}

.navbar .nav li.rpx a {font-weight:bold; color:White;}

.metro-index table a {font-size:18px;}

.author {margin-top:10px;}

.tags {font-size:14px; padding-bottom:15px;}

.date {margin:5px 0px 5px 0px; color:#666666; font-size:12px;}

.no-border {border:0px;}
.no-border th,.no-border td {border:0px;}

.index img, .edit img {float:left;}



/*Homepage*/
.personaName { background-color:#1C1B1C; display:block; font-weight: bold; font-size:18px; color:White; text-align:center; padding:5px 0px 5px;
               border-bottom-right-radius: 6px;border-bottom-left-radius: 6px;}
.nav-img {border-top-right-radius: 6px; border-top-left-radius: 6px; display:block; width:100%;}
.home-link {float:left; display:block; width:240px; height:200px; margin-bottom:20px; margin-left:10px; text-decoration:none;}
.home-link:hover {opacity:0.7;}
a.home-link {text-decoration: none;}
.personaName:hover {opacity:1; }

.circle {-webkit-border-radius: 999px; -moz-border-radius: 999px; border-radius: 999px; display:inline-block; width: 15px; height: 15px; } 
.circle-red { background: red; }
.circle-orange { background: orange; }
.circle-blue { background: blue; }
.circle-yellow { background: yellow; }
.circle-green { background: green; }

.photos-right {width:180px; float:left; display:inline;}

ul.rss-list img {margin-right:5px;}

.allison { color: #000000; background: #FF4444; font-weight: bold; }
.jim { color: #000000; background: #33FF33; font-weight: bold; }
.friend { color: #000000; background: #4444FF; font-weight: bold; }
.family { color: #000000; background: #4444FF; font-weight: bold; }

ul.rss-list {margin-left:0px; margin-top:10px;}
.rss-list li {list-style-type:none;margin-bottom:20px; line-height:14px;}


.home #description {clear:both; display:block;}
.home .col-left, .home .col-right {width:50%; float:left; clear:right;}

.blog-detail-date { font-size:14px; margin-top:10px; margin-bottom:15px; color:#666666;}

.attribution {font-size:10px; clear:both; display:block;}

#body {margin-bottom:20px;}
.thumbnail-list ul {margin-left:0px;}
.thumbnail-list li {clear:left; list-style-type:none; line-height:14px; padding-bottom:10px;}
.thumbnail-list li img {padding-right:5px; padding-bottom:10px; float:left;}
.thumbnail-list a {font-size:18px; text-decoration:none;}
.thumbnail-list .list-title {display:block;}

.video .video-thumbnail {float:left; width:125px; height:100px; display:block;}
.video #left-wrap {width:540px;}
#metro {float:left; width:350px;}
#metro table {table-layout:auto; width:330px; margin-bottom:10px;}
#metro th, #metro td {
border-width: 1px;
border-style: solid;
border-color: #CCC;
padding: 2px;
}

.famousdeveloper h2 {margin-top:0px;}
.famousdeveloper table {border-width:0px;}
.famousdeveloper .col1 {width:250px;}
.famousdeveloper .col2 {vertical-align:top;}

.calendar-index span {float:right; font-size:0.7em; display:block; }
.calendar-index td {height:60px; font-size:0.9em; line-height:1.1em;}
