@using lawrukmvc.Helpers;
@{
    ViewBag.Title = "Weather";
}

<div class="place">
@Html.Partial("RSSList", Helpers.GetRSSList("http://weather.yahooapis.com/forecastrss?w=2363527", 1))     
</div>
<div class="place">
@Html.Partial("RSSList", Helpers.GetRSSList("http://weather.yahooapis.com/forecastrss?w=2450407", 1))
</div>
<div class="place">
@Html.Partial("RSSList", Helpers.GetRSSList("http://weather.yahooapis.com/forecastrss?w=2364363", 1))
</div>
