@using lawrukmvc.Models;
@using lawrukmvc.Helpers;
@{
    ViewBag.Title = "Metro Stations";
}

@model lawrukmvc.ViewModels.MetroStationsViewModel

<table class="table table-bordered table-striped table-condensed tablesorter">
<tr>
<th>Red <span class="circle circle-red">&nbsp;</span></th>
<th>Blue or Orange <span class="circle circle-blue">&nbsp;</span> <span class="circle circle-orange">&nbsp;</span></th>
<th>Green or Yellow <span class="circle circle-green">&nbsp;</span> <span class="circle circle-yellow">&nbsp;</span></th>
</tr>
<tr>
<td>@Html.Partial("TitleUrlList", Helpers.ConvertMetroStations(Model.RedStations)</td>
<td>@Html.Partial("TitleUrlList", Helpers.ConvertMetroStations(Model.BlueOrangeStations)</td>
<td>@Html.Partial("TitleUrlList", Helpers.ConvertMetroStations(Model.GreenYellowStations)</td>
</tr>
</table>
<br />
<p style="clear:both">Courtesy of <a href="http://www.wmata.com/rail/stations.cfm">wmata.com</a></p>


@section right {
@Html.Partial("GoogleAd160x600");
}
